p {
    color: #000000;
  }

.hello {
      color:#31ee01
  }

#world {    
      color:rgb(0, 0, 0)
}

.loser {
      text-align:center;
      color:black;
}

.image {
  text-align:center;
  color: black;
}

.create-todo {
  text-align:center;
  color:rgb(243, 9, 9);
}


body {
  background-color:#75c3f7;
  }

